[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
dlib = "*"
pypugjs = "*"
flask-socketio = "*"
numpy = "*"
pillow = "*"
eventlet = "*"
pymongo = "*"
opencv-python = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
