extends layout

block content
  link(rel='stylesheet', href='/stylesheets/popup.css')
  // bandeau de titre
  .title
    h1= title

  a#popup(href="#popup1")


  // ajout d'image, tips, autres
  .container
    .item
      #click.cadre
        img#imgLoad(src='../images/add.png' alt='')
        input#imgupload(type='file' name='file' style='display:none')
      div#python BEGIN

      div
      .tips
        h3 TIPS For Best Results
        ul#t
          li Center your head in the photo
          li Look directly at the camera
          li No hair across your face or eyes
          li Make sure your facial features are clearly visible
          li Don&apos;t tilt your head up/down or left/right


    div.car
      ul#c
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/jcvd.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/machete.jpeg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/elton.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU

  #popup1.overlay
      .popup
        h1 You look like :
        h2.result 
        a.close(href='#') &times;
        .content

          img#imgLoad(src='../images/add.png' alt='')

          //- form.form-example(action='' method='get')

          //-   //- date
          //-   .form-example
          //-     label(for='date') Date de réservation : 
          //-     input#date(type='date' name='date' required='')

          //-   //- forfait

          //-   .form-example
          //-     label(for='forfait') Choisir un forfait : 
          //-     input#name(type='text' name='forfait' required='')

          //-   //- nombre de joueur

          //-   .form-example
          //-     label(for='nbJoueur') Nombre de participants : 
          //-     input#name(type='number' name='nbJoueur' value="1" required='' min="1" max="8")

          //-   //- nom prenom

          //-   .form-example
          //-     label(for='prenom') Prénom : 
          //-     input#name(type='text' name='prenom' required='')
          //-     label(for='nom') Nom:
          //-     input#name(type='text' name='nom' required='')

          //-   //- email et telephone  

          //-   .form-example
          //-     label(for='email') Email : 
          //-     input#email(type='email' name='email' required='')
          //-     label(for='telephone') Téléphone : 
          //-     input#email(type='tel' name='telephone' required='')

          //-   //- sub

          //-   .form-example
          //-     input(id="sub" type='submit' value='Réserver')

  script(src="../javascripts/lzma.js")
  script(language="javascript" src="../javascripts/lz-string.js")
  script(src='../javascripts/main.js' type='text/javascript')
  script(src='../javascripts/python.js' type='text/javascript')
  script(src='../javascripts/loadImg.js' type='text/javascript')
