extends layout

block content
  // bandeau de titre
  .title
    h1 Who Is My Sosie
  // ajout d'image, tips, autres
  .container
    .item
      #click.cadre
        img#imgLoad(src='../images/add.png' alt='')
        input#imgupload(type='file' name='file' style='display:none')
      div
      .tips
        h3 TIPS For Best Results
        ul#t
          li Center your head in the photo
          li Look directly at the camera
          li No hair across your face or eyes
          li Make sure your facial features are clearly visible
          li Don&apos;t tilt your head up/down or left/right
        a(href="/pythonData") test
    div.car
      ul#c
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/jcvd.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/machete.jpeg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/elton.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
        li#cli
          p
            img(src='../images/GEGE.jpg' alt='')
          p Gerard DEPARDIEU
      
  script(src='../javascripts/main.js' type='text/javascript')
  script(src='../javascripts/loadImg.js' type='text/javascript')
