.button{
  margin-left: 94%;
}

.button #theme1{
  z-index: 90;
  background-color: grey;
  border: none;
  color: white;
  font-weight: bold;
  /*margin: 10px;*/
  margin-top: 10em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.button #theme2{
  z-index: 90;
  background-color: purple;
  border: none;
  color: white;
  font-weight: bold;
  /*margin: 10px;*/
  margin-top: 3em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.button #theme3{
  z-index: 90;
  background-color: #AF4D00;
  border: none;
  color: white;
  font-weight: bold;
  /*margin: 10px;*/
  margin-top: 0em;
  padding: 0.6em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
